
<div class="container">
  <div class="row">
    <%= link_to "新規記事作成", new_story_path, class: "btn btn-primary" %>
  </div>
</div>
<br>

<div class="container">
  <div class="row">

    <div class="col-md-8">
      <% @stories.each do |story| %>
      <div class="well well-sm">
        <%= story.body %>
        <p class="text-right">
          <%= link_to "記事を読む", story_path(story), class: "btn btn-primary" %>
        </p>
        <hr>
        <a href="#" class="btn btn-xs btn-success">いいね</a>
        <a href="#" class="btn btn-xs btn-danger">bad</a>
        <a href="#" class="btn btn-link">コメント [3]</a>
        <span class="pull-right"><small>作者: ◯◯ | カテゴリー: ◯◯</small></span>
      </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Category</h3>
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nummus in Croesi divitiis obscuratur, pars est tamen divitiarum. Tria genera cupiditatum, naturales et necessariae, naturales et non necessariae, nec naturales nec necessariae. Etenim semper illud extra est, quod arte comprehenditur. Duo Reges: constructio interrete. Et non ex maxima parte de tota iudicabis? De quibus cupio scire quid sentias.
        </div>
        <div class="panel-footer">
          text
        </div>
      </div>
    </div>
  </div>
</div>
